@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');
@import "tailwindcss";

@theme {
  --color-primary: #00373e;
  --color-secondary: #f9e6d0;
  --font-brico: "Bricolage Grotesque", sans-serif; 
}

body {
  max-width: 1280px;
  margin: auto;
  background-color: #f7f6f4;
}

@layer base {
    ._container {
        @apply max-w-[1100px] mx-auto px-[3%] md:px-[8%];
    }
}